### Common Configuration
.editorconfig
.git/
.github/
.github_changelog_generator
.gitignore
.idea/
.vscode/
Dockerfile
Dockerfile.dev
Makefile
config/**/*.json
config/**/runtime.*
coverage/
node_modules/
nodemon.json
*.md
jest/
build/
dist/
